@font-face {
  font-family: "Cafe24Oneprettynight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

*:not(pre) {
  font-family: "Cafe24Oneprettynight";
  text-align: center;
}

table {
  margin: 0 auto;
}

pre * {
  font-family: "Hack";
  text-align: left;
  border-radius: 10px;
}

pre,
select,
div.input-group,
hr {
  width: 90vw !important;
  margin: 0 auto;
}

div#keys-values div.input-group {
  margin-bottom: 10px;
}

button {
  all: unset;
  background-color: #7fbbff;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}
