@font-face {
  font-family: "Cafe24Oneprettynight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

*:not(pre) {
  font-family: "Cafe24Oneprettynight";
  text-align: center;
}

table {
  margin: 0 auto;
}

pre * {
  font-family: "Hack";
  text-align: left;
  border-radius: 10px;
}

pre {
  width: 90vw;
  margin: 0 auto;
}
