@font-face {
  font-family: "Cafe24Oneprettynight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "KOMACON";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/KOMACON.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

*:not(pre) {
  font-family: "KOMACON";
  text-align: center;
}

table {
  margin: 0 auto;
}

pre * {
  font-family: "Hack";
  text-align: left;
  border-radius: 10px;
}

pre,
select,
div.input-group,
ins,
hr {
  width: 90vw !important;
  margin: 0 auto;
}

div#keys-values div.input-group {
  margin-bottom: 10px;
}

button {
  all: unset;
  background-color: #7fbbff;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

nav > table td a {
  margin-left: 20px;
  font-size: 20px;
  cursor: pointer;
  color: black;
}

nav > table td a:hover {
  color: black;
  text-decoration: underline;
}

nav > table td:first-child a {
  margin-left: 0px;
}

nav > table td a.now {
  font-weight: bold;
}

#ad-card ins {
  display: unset !important;
}

#api-main div {
  margin-top: 30px;
}

#api-url {
  font-family: Hack;
  background-color: lightgray;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 auto;
}

.query {
  color: #f87232;
  font-family: Hack;
}

#description {
  width: 90vw;
}

/* spinner */
#spinner {
  -webkit-animation: rotator 1.4s linear infinite;
  animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite,
    colors 5.6s ease-in-out infinite;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}

@keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
